Checks: >-
  -*,
  bugprone-branch-clone,
  bugprone-suspicious-include,
  bugprone-suspicious-semicolon,
  bugprone-unused-return-value,
  bugprone-use-after-move,
  clang-analyzer-security.*,
  modernize-use-nullptr,
  performance-inefficient-algorithm,
  performance-inefficient-string-concatenation,
  performance-inefficient-vector-operation,
  performance-unnecessary-copy-initialization,
  performance-unnecessary-value-param,
  readability-container-size-empty,
  readability-misleading-indentation,
  readability-redundant-control-flow,
  readability-redundant-string-cstr
